/* Blue accent #2196F3 */
/* Black #000000 */
/* White #ffffff */
/* Black secondary #212121 */
/* Grey #757575 */
/* White secondary #255,255,255,0.6 */

:root {
  --blue-accent: #2196f3;
  --black-primary: #000000;
  --black-secondary: #212121;
  --white-primary: #ffffff;
  --grey-cnt: #757575;
  --white-secondary-op: rgba(255, 255, 255, 0.6);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.header .header-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black-primary);
}
.header .web {
  color: var(--blue-accent);
}
.header .header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black-secondary);
}
.header .header-list:hover,
.header .header-contact:hover,
.header .header-list:focus,
.header .header-contact:focus {
  color: var(--blue-accent);
}

.header .header-list.current {
  color: var(--blue-accent);
}
.header .header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--grey-cnt);
}
